* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: Ninu;
  src: url("../font/Nunito-Medium.ttf");
}
@font-face {
  font-family: boldFont;
  src: url("../font/MontserratExtrabold-VGO60.ttf");
}
@font-face {
  font-family: semi-boldFont;
  src: url("../font/Rubik-SemiBold.ttf");
}

:root {
  --white: #fff;
  --black: #000;
  --fadeWhite: #b4b4b4;
  --blue: rgb(1, 89, 161);
  --green: rgb(11, 228, 47);
  --crimson: crimson;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;
  --radius10: 10px;
  --radius16: 16px;
  --radius7: 7px;
  --bgblack: #000002f6;
  --bgfadeblack: #080b0e;
  --bgfadeblack-light: #16181a;
}
.loader_btn{
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.loader_btn.active{
  background-color: teal;
  color:#fff;
  display: grid;
  place-items: center;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}
.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #4b9cdb;
}
.loader_wrapper {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.loader_wrapper .load-3,
.loader_wrapper .text {
  display: none;
}
.loader_wrapper.play .load-3 {
  display: inline;
}
.loader_btn.active .loader_wrapper .load-3 {
  display: block;
}
.loader_wrapper .text {
  display: none;
}
.loader_wrapper .text p {
  text-align: center;
  font-weight: bolder;
}

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, 0);
  }
}
p.unchecked {
  margin-top: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--green);
}
.error_information {
  color: crimson;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
body {
  width: 100%;
  background: var(--bgblack);
  color: var(--white);
  font-family: Ninu;
}
h1,
h2 {
  font-family: semi-boldFont;
}
header {
  font-family: boldFont;
}
main {
  display: grid;
  grid-template-columns: 16% 84%;
}
.flex {
  display: flex;
  align-items: center;
}
main.animate {
  display: block;
}
main.animate section.container {
  width: 84%;
  margin-left: 16%;
}
main.animate aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 16%;
}

aside {
  border-right: 1px solid var(--fadeWhite);
  padding: 10px;
  background-color: var(--bgfadeblack);
  height: 100%;
}
aside .logo {
  display: flex;
  margin-bottom: 20px;
}
aside .logo h1 {
  font-size: 20px;
}
aside .header {
  font-size: 16px;
  color: var(--fadeWhite);
  margin-block: 10px;
}
aside .item {
  padding-block: 5px;
  height: 45px;
  border-radius: 10px;
  transition: all 0.4s ease;
}
aside .item:hover {
  background-color: crimson;
}

aside .item .cover {
  background-color: var(--white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}
aside .item .cover i {
  color: var(--black);
}
aside .item p {
  margin-left: 20px;
}

section {
  padding-block: 10px;
  background-color: var(--bgfadeblack);
}
.container nav {
  width: calc(100% - 20px);
  height: 45px;
  padding-inline: 10px;
}
.container nav .user_details {
  justify-content: flex-end;
  float: right;
}
.container nav .user_details .item {
  margin-right: 30px;
  position: relative;
}
.container nav .user_details .item i {
  font-size: 18px;
}
.container nav .user_details .item .counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  background-color: var(--crimson);

  border-radius: 50%;
}
.container nav .user_details .item .counter p {
  font-size: 13px;
  font-weight: 500;
}
.container nav .user_details .item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_main {
  width: 100%;
  background-color: var(--bgblack);
  padding: 10px 20px;
  min-height: 99vh;
}

.profile_main header {
  font-size: 25px;
  font-weight: bolder;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.profile_main header button {
  width: 100px;
  padding: 10px;
  outline: none;
  border-width: 0px;
  border-radius: 6px;
  background-color: crimson;
  color: var(--white);
}

.profile_main .grid_sx {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 10px;
}
.profile_main .grid_sx.tithebook {
  grid-template-columns: 100%;
}
.profile_main .grid_sx .profile {
  background-color: var(--bgfadeblack);
  border-radius: var(--radius16);
}
.profile .profile_status {
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  gap: 20px;
}
.profile .profile_status .cover {
  margin: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(255, 196, 0);
}
.profile .profile_status .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile .profile_status .details button {
  padding: 10px;
  border-radius: var(--radius7);
  outline: none;
  height: 35px;
  border-width: 0px;
  background-color: var(--bgfadeblack-light);
  color: var(--white);
  box-shadow: 0px 0px 4px 0px #1a1919;
  margin-bottom: 10px;
}

.profile .personal_details {
  padding: 10px 40px;
  width: 100%;
}
.profile .personal_details_info {
  border-radius: var(--radius7);
  border: 1px solid var(--fadeWhite);
  padding: 10px 20px;
  margin-bottom: 10px;
}
.profile .personal_details .info {
  width: 100%;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.profile .personal_details .info .feild {
  width: 100%;
}
.profile .personal_details .info .feild label {
  width: 100%;
  color: var(--fadeWhite);
}

.profile .personal_details .location {
  padding: 20px 40px;
  background-color: var(--bgblack);
  border-radius: var(--radius7);
  margin-top: 30px;
}
.profile .personal_details .location .info_bar {
  width: 100%;
  height: auto;
  gap: 10px;
}
.profile .personal_details .location .compass {
  background-color: var(--bgfadeblack);
  padding: 5px;
  width: calc(100% - 130px);
  border-radius: var(--radius7);
  margin-block: 20px;
}
.profile .personal_details .location .compass input {
  width: calc(100% - 20px);
  height: 35px;
  background-color: transparent;
  outline: none;
  border-width: 0px;
  color: #fff;
  margin-left: 10px;
}
.profile .personal_details .location .info_bar button {
  padding: 10px;
  border-radius: var(--radius7);
  outline: none;
  width: 130px;
  height: 35px;
  border-width: 0px;
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 0px 4px 0px #1a1919;
  font-weight: bolder;
}
.profile .personal_details .bio {
  padding: 5px;
  width: 100%;
  border-radius: var(--radius7);
  margin-block: 20px;
}
.profile .personal_details .bio .bio_data {
  width: 100%;
}
.profile .personal_details .bio .bio_data p:nth-child(even) {
  margin-top: 10px;
}
.status {
  background-color: var(--bgfadeblack);
  border-radius: var(--radius16);
  height: fit-content;
  padding-bottom: 20px;
  margin-top: 10px;
}
.status header {
  text-align: center;
  font-size: 18px;
  margin-block: 20px;
}
.status .gauge {
  width: 130px;
  height: 130px;
  margin: 20px auto;
  border-radius: 50%;
  background: conic-gradient(
    var(--green) var(--percent),
    var(--bgfadeblack-light) 160deg
  );
  display: grid;
  place-items: center;
}

.status .gauge .details {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--bgfadeblack);
  display: grid;
  place-items: center;
}
.status .gauge .details p {
  font-weight: bolder;
  font-size: 20px;
}
.checklist {
  width: 100%;
}
.checklist .item {
  width: 80%;
  margin: 10px auto;
  justify-content: flex-start;
  gap: 10px;
}
.checklist .item p {
  font-size: 14px;
}

.checklist .item p:nth-child(odd) {
  color: var(--fadeWhite);
}
.checklist .uncheck i,
.checklist .uncheck p {
  color: var(--fadeWhite);
}
.checklist .uncheck p:nth-child(odd) {
  color: var(--green);
}
.title {
  width: 100%;
  justify-content: space-between;
}
.title p {
  font-weight: 700px;
  font-size: 20px;
}
.title div i {
  margin-right: 10px;
}
.delete {
  color: var(--crimson);
}
.sidemenu_trigger {
  justify-content: flex-start;
  display: none;
}
.sidemenu_trigger svg {
  fill: #fff;
  float: left;
}
p span {
  color: var(--green);
}
/*------------------payment------------------------------------*/
.payment_list {
  width: 100%;
  padding: 10px;
}

.payment_list .item,
.tithe_item {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.payment_list .item {
  text-align: left;
}
.tithe_item {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
}
.payment_list .item:hover,
.tithe_item:hover,
.annc_item.check:hover {
  background-color: #464545;
}
.payment_list .item button,
.welfare button {
  width: 90px;
  height: 35px;
  background-color: var(--green);
  outline: none;
  border-width: 0px;
  border-radius: var(--radius7);
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
}
.payment_list .item h1 {
  font-size: 18px;
}
.tithe_list {
  width: 100%;
  height: auto;
  padding: 10px;
  overflow-x: auto;
}
.tithe_list .item {
  width: 100%;
  padding: 10px;
  margin-block: 10px;
  gap: 10px;
}
.tithe_list .item .tithe_content {
  width: calc(100% - 50px);
}
.tithe_list .item .date {
  width: 40px;
  height: 40px;
  background-color: teal;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.month_image {
  width: 100%;
  height: 150px;
}
.month_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.annc_item {
  width: 95%;
  height: auto;
  margin: 10px auto;
  cursor: pointer;
  border-radius: var(--radius7);
  padding: 10px;
}
.annc_item:not(.check) {
  box-shadow: 1px 0px 2px 0px #353535;
}
.annc_item .img_details {
  width: 100%;
  height: 100%;
}
.flex.annc_item {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 10px;
}
.annc_item img {
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius10);
}
.language {
  width: 100%;
  height: 100%;
}
.language .img_flag {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.language .img_flag img {
  width: 70px;
  height: 70px;
  border-radius: var(--radius7);
  object-fit: cover;
}
.language .grid_select {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.language .grid_select .img_flag {
  width: 100%;
  height: 120px;
  display: grid;
  place-items: center;
  gap: 10px;
}

.event_menu_add.active {
  display: block;
  opacity: 1;
  transition: 200ms all ease;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: initial;
  z-index: 9999;
}
.event_menu_add {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 560px;
  background-color: #fff;
  color: #000;
  border-radius: 16px;
  z-index: -1;
  box-shadow: 0px -1px 4px 0px #313131;
  transform: translate(-50%, -50%) scale(1.1);
  transition: 200ms all ease;
  opacity: 0;
  pointer-events: none;
}
.event_menu_add header {
  text-align: center;
  font-size: 30px;
}
.event_menu_add .field {
  width: 100%;
  height: 60px;
  padding: 5px;
  margin-block: 5px;
}
.event_menu_add .field label {
  font-size: 15px;
  padding-bottom: 5px;
}
.event_menu_add .field_e {
  width: 100%;
  height: 180px;
  padding: 10px;
  margin-block: 5px;
}
.event_menu_add .field input,
.event_menu_add .field select {
  width: 100%;
  height: 38px;
  outline: none;
  border-width: 0px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 7px;
}
.event_menu_add .field_e textarea {
  width: 100%;
  height: 150px;
  padding: 5px;
  outline: none;
  border-width: 0px;
  border: 1px solid #ddd;
  border-radius: 7px;
}

.event_menu_add button {
  width: 250px;
  height: 45px;
  background-color: crimson;
  border-width: 0px;
  border-radius: 10px;
  font-size: 18px;
  margin: 15px;
  display: block;
}
.cate_view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.cate_view_e {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

input::placeholder {
  color: #ddd;
}
table {
  width: 99.5%;
  margin: 10px auto;
  border-collapse: collapse;
  border-spacing: 4px;
}
table thead tr {
  background-color: #1f1d1d;
}

table tr {
  border-top: 1px solid #ddd;
}
table tbody tr:nth-child(even) {
  background-color: rgba(0, 255, 255, 0.247);
}
table tbody tr:nth-child(odd) {
  background-color: rgb(80, 80, 78);
}
table thead tr th,
td {
  padding: 20px;
  text-transform: capitalize;
  font-size: 16px;
  text-align: left;
}
table tbody tr:hover {
  background-color: #666464;
  border-radius: 10px;
  cursor: pointer;
}
.skeleton {
  display: none;
}
.skeleton.load {
  display: block;
  width: 100%;
  height: 100vh;
}
.skeleton.load div {
  width: 100%;
  height: calc(100% / 3.9);
  margin-block: 9px;
  background-color: #080808;
  border-radius: 10px;
}
a {
  color: #fff;
  text-decoration: none !important;
}

@media screen and (max-width: 1100px) {
  .profile_main {
    padding: 5px;
  }
  main.animate {
    display: block;
  }
  main.animate section.container {
    width: 100%;
    margin-left: 0%;
  }
  main.animate aside {
    position: relative;
  }
  .language .grid_select {
    grid-template-columns: repeat(4, 1fr);
  }
  .sidemenu_trigger {
    display: block;
  }
  .sidemenu_trigger svg {
    margin-right: 10px;
    font-size: 45px;
    margin-left: 10px;
  }
  .sidemenu_trigger.active svg:nth-child(1) {
    display: block;
  }
  .sidemenu_trigger.active svg:nth-child(2) {
    display: none;
  }

  .sidemenu_trigger svg:nth-child(1) {
    display: none;
  }
  .sidemenu_trigger svg:nth-child(2) {
    display: block;
  }

  aside {
    position: fixed;
    top: 44px;
    left: 0;
    display: none;
    z-index: 999;
    width: 320px;
  }

  main,
  aside.active {
    display: block;
  }
  main.animate aside {
    width: 320px;
    position: fixed;
  }
  .payment_list .item {
    display: block;
    width: 95%;
  }
}

@media screen and (max-width: 880px) {
  table tr,
  table h1 {
    font-size: 17px;
  }
  table p {
    font-size: 15px;
  }
  .event_menu_add {
    width: 90% !important;
    right: 5%;
    height: calc(100% - 50px) !important;
    overflow-y: auto;
    border-radius: 5px !important;
  }
  .profile_main .grid_sx {
    display: block;
  }
  .status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    place-items: center;
  }
  .language .grid_select {
    grid-template-columns: repeat(3, 1fr);
  }

  .status header {
    grid-column: 1 / 4;
    grid-row: 1;
    height: fit-content;
  }
  .status .gauge {
    grid-column: 1;
    grid-row: 2;
  }
  .status .checklist {
    grid-column: 2 / 4;
    grid-row: 2;
  }
}
@media screen and (max-width: 700px) {
  .profile .profile_status {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    place-items: center;
  }
  .flex.annc_item {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
  }
}
@media screen and (max-width: 660px) {
  .event_menu_add .cate_view {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .profile_main,
  .profile .personal_details {
    padding: 10px 10px;
  }
  .profile .personal_details .location .info_bar {
    flex-direction: column;
  }
  .profile .personal_details .location .compass {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .payment_list .item h1 {
    font-size: 18px;
    text-transform: uppercase;
  }

  .tithe_item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .profile_main {
    padding: 2px 2px;
  }

  .tithe_item {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .payment_list .item h1,
  .tithe_item p:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1;
    text-align: left;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 500px) {
  .profile .personal_details {
    padding: 10px 10px;
  }
  .profile .personal_details .info {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
  .profile .personal_details .info .feild:nth-child(3) {
    grid-column: 1/3;
  }
  .language .grid_select {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 360px) {
  .flex.annc_item {
    display: block;
  }
  .container nav .user_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .container nav .user_details .item {
    margin: 10px;
  }
  .container nav .user_details .item .counter {
    right: -1px;
  }
  .container nav .user_details .item i {
    font-size: 15px;
  }
  .flex.annc_item img {
    max-height: 220px;
    height: auto;
  }
  .flex.title {
    display: block;
    margin-bottom: 10px;
  }
  .flex.title h1 {
    font-size: 17px;
  }
  .flex.button {
    flex-wrap: wrap;
  }
  .flex.button span,
  .flex.button span i {
    padding: 0px;
    font-size: 13px !important;
    text-align: left;
  }

  .div_content p {
    font-size: 15px;
  }

  .profile .profile_status .cover {
    margin-right: 0px;
  }
  .profile_main,
  .profile .personal_details {
    padding: 10px 10px;
  }
  .personal_details_info {
    width: 100%;
  }
  .profile .personal_details .info {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }
  .profile .personal_details .info .feild:nth-child(3) {
    grid-column: 1;
  }

  .status {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-top: 20px;
  }
  .status .checklist {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    place-items: center;
  }
  .checklist .item {
    width: auto;
  }
  .status header {
    grid-column: 1;
  }
  .profile_status .details {
    display: grid;
    place-items: center;
    text-align: center;
  }
  aside {
    width: 100%;
  }
  .payment_list .item button {
    width: 95%;
  }
}

@media screen and (max-width: 300px) {
  .feild p {
    font-size: 13px;
    word-wrap: break-word;
  }
  .payment_list .item button,
  .welfare button {
    width: 100%;
  }
  .event_menu_add .field,
  .event_menu_add .field_e {
    width: 95%;
    margin: 0px auto;
    padding: 0px;
    padding-block: 10px;
  }
  .event_menu_add button {
    width: 80%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 200px) {
  .profile_main header {
    font-size: 16px;
  }

  .flex.title h1 {
    font-size: 14px;
  }
  .div_content p {
    font-size: 12px;
  }

  .feild,
  section {
    overflow: hidden;
  }
  .payment_list .item,
  .tithe_item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .payment_list .item h1,
  .tithe_item p:nth-child(1) {
    grid-column: 1;
  }
  .payment_list .item button,
  .welfare button {
    width: 100%;
  }
  .container nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10x;
    place-items: center;
  }
}
