@font-face {
  font-family: nunito-regular;
  src: url("../font/Nunito-Regular_1.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #01f7ffa8;
}

a,
p,
li {
  font-family: nunito-regular;
}
body {
  width: 100%;
  height: auto;
  background-color: #000;
  color: #fff;
  height: 100vh;
}
body.christmas_theme {
  background-color: #000;
}
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.navigation .nav_logo {
  margin-inline: 10px;
}
.navigation .nav_logo header {
  font-size: 20px;
  font-weight: bolder;
  font-weight: 500;
  padding: 10px;
}
.navigation .nav_ele {
  display: flex;
  align-items: center;
}
.navigation .nav_ele .item_list {
  margin-inline: 10px;
  cursor: pointer;
  position: relative;
  padding: 10px 20px 10px 20px;
  transition: all 0.3s ease;
}
.navigation .nav_ele .item_list:hover {
  box-shadow: 0px 0px 12px 4px #01f7ff;
  background-color: #01f7ffa8;
}
.navigation .nav_ele .item_list:hover svg {
  width: 0px;
}
.navigation .nav_ele .item_list:hover .Ministries_list {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}
.navigation .nav_ele .item_list .Ministries_list {
  position: absolute;
  top: 100%;
  right: -50px;
  width: 100%;
  height: auto;
  background: #fff;
  color: #050505;
  width: calc(100% + 100px);
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;

  z-index: 10;
  transition: all 0.5s ease;
}
.navigation .nav_ele .item_list .Ministries_list .item_list:hover {
  width: 100%;
  background: #ddd;
  box-shadow: 0px 0px 4px 0px #000;
}
.navigation .nav_ele .item_list .Ministries_list .item_list p {
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
}

.navigation .nav_ele .item_list p {
  font-size: 20px;
  text-align: center;
  text-wrap: break-word;
  font-weight: 400;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}
.navigation .nav_ele .item_list p svg {
  margin-left: 10px;
  width: 15px;
}
body #christmas_theme,
body #easter {
  display: none;
}
body.christmas_theme #christmas_theme {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  transition: all 0.3s ease;
  background: url("../images/home-bg.jpg") no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.container h1.main {
  font-size: 90px;
  text-align: center;
  position: absolute;
  bottom: 33%;
  width: 100%;
  transition: all 0.2s ease;
  z-index: 2;
}

img.moon {
  position: absolute;
  left: 38%;
  width: 350px;
  z-index: 1;
}
img.mountain {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
}
img.tree {
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
}

img.cloud_1 {
  position: absolute;
  left: 5%;
  width: 660px;
  z-index: 3;
  top: 4%;
}
img.cloud_2 {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 660px;
  z-index: 3;
  transform: scaleX(-1);
}
.full_page_down {
  position: absolute;
  transform: translateY(calc(-1 * var(--scroll)));
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  filter: blur(1px);
}
.full_page_down img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.menu_toggle {
  display: none;
}
.web_content {
  width: 100%;
  background-color: #000000a1;
}
body.easter .web_content .overlay {
  background: url("images/easter/2149428267.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
body.easter .web_content .overlay::after {
  background: linear-gradient(
    255deg,
    rgba(0, 0, 0, 0.801),
    rgba(36, 1, 15, 0.322),
    rgba(0, 0, 0, 0.466)
  );
}

body .web_content .overlay {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  background: url("images/bg\ \(1\).jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}
body.christmas_theme .web_content .overlay {
  background: transparent;
}
body.easter #easter {
  display: block;
  position: absolute;
  top: 100vh;
}

.web_content .overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    314deg,
    rgb(0 0 0 / 17%),
    rgba(36, 1, 15, 0.918) 80%
  );
  z-index: 1;
}
body.christmas_theme .web_content .overlay,
body.christmas_theme .web_content .overlay::after {
  background: transparent;
}
.web_content .overlay .content {
  width: calc(100% - 60px);
  height: 80vh;
  z-index: 2;
  padding-inline: 30px;
}

.web_content .overlay .content .text h1 {
  font-size: 50px;
}
.web_content .overlay .content .text p {
  font-size: 50px;
  font-weight: 900;
}
.web_content .overlay .content .motto p {
  font-size: 20px;
  font-weight: bolder;
}
.web_content .overlay .content .slider {
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}
.web_content .overlay .content .slider ul {
  width: 100%;
  display: flex;
  gap: 20px;
  list-style: none;
}

.web_content .overlay .content .slider ul li label {
  font-size: 16px;
}
.web_content .overlay .content .slider ul li p {
  font-size: 25px;
  font-weight: 900;
}
.header {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}

.section__container {
  width: 98%;
  height: 90vh;
  margin: 0px auto;
  padding: 1rem;
  overflow-x: hidden;
}

.testimonials__grid,
.swiper_class {
  width: 100%;
}
.testimonials__grid .swiper-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.section__container .card {
  width: 330px;
  height: 240px;
  display: grid;
  border-radius: 5px;
  cursor: pointer;
}
.section__container .card.event {
  height: 270px;
}
.section__container .card.event .image {
  height: 240px;
  width: 100%;
  position: relative;
}
.section__container .card.event .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(4deg, #000000, #00000000);
  z-index: 1;
}
.section__container .card.event .image .details_date {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  z-index: 2;
}
.section__container .card.event .details_name {
  padding: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
.section__container .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.social {
  width: 100%;
  height: 40px;
  padding: 10px;
  overflow: hidden;
}
.social ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  cursor: pointer;
}
.social ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.social ul li:hover {
  transform: scale(1.1);
}
.social ul li:hover i {
  color: crimson;
}
.social ul li i {
  font-weight: bold;
  margin-right: 10px;
}

.upcoming_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 30px;
  color: #fff;
}
.data_reminder {
  margin-left: 40px;
}
.data_reminder p {
  font-size: 30px;
}
.upcoming_header .line {
  position: relative;
  width: 70%;
  height: 6px;
  border-radius: 16px;
  background: #ddd;
  margin-left: 20px;
}
.upcoming_header .line img {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  max-width: 80px;
  object-fit: cover;
}
.workshop {
  position: relative;
  width: 95%;
  margin: 20px auto;
  min-height: 500px;
  background: url("../images/cta-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.workshop img,
.workshop video {
  width: 470px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.workshop .info {
  max-width: 500px;
  margin-left: 30px;
}

.event_section {
  width: calc(100% - 100px);
  margin: 30px auto;
  padding: 20px 10px;
  position: relative;
  transition: all 0.3s ease;
}

.event_section .gallery_layout {
  width: 100%;
  columns: 5 240px;
  gap: 15px;
  margin-bottom: 10px;
}
.event_section .gallery_layout img {
  width: 100%;
  border-radius: 10px;
}

.grid_complex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  gap: 10px;
}
.grid_complex img:nth-child(1) {
  grid-row: 1 / 3;
}
.grid_complex img:nth-child(2),
.grid_complex img:nth-child(3) {
  grid-column: 2;
}
.grid_complex img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  border-radius: 16px;
}
.calendaMain {
  width: 95%;
  display: grid;
  place-items: center;
  border: 1px dashed rgba(164, 165, 167, 0.582);
  margin: 50px auto;
  overflow: hidden;
}
.calendaMain .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 540px;
  display: flex;
  color: #fff;
  overflow: hidden;
  margin: 0%;
}
.monthName {
  width: 140px;
}
h1 {
  font-size: 25px;
  font-weight: 500;
}
.calendaMain .wrapper .months {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 300px;
  min-height: 100%;
  margin-left: -270px;
  transition: all 0.4s ease;
  display: flex;
}
.calendaMain .wrapper .months.active {
  margin-left: 0%;
}
.calendaMain .wrapper .months .main {
  width: calc(100% - 30px);
  background: rgb(6, 26, 49);
}
.calendaMain .wrapper i.trigger_set {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  font-size: 25px;
  min-height: 25px;
  transition: all 0.4s ease;
}
.calendaMain .wrapper i.trigger_set.active {
  margin-left: 230px;
}
.calendaMain .wrapper .months ul,
.calendaMain .wrapper .events ul {
  width: 100%;
  min-height: 100%;
}
.calendaMain .wrapper .months ul li {
  min-height: 30px;
  padding-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.calendaMain .wrapper .months ul li.active {
  background-color: teal;
}
.calendaMain .wrapper .months ul li,
.calendaMain .wrapper .events ul li {
  list-style: none;
  width: 95%;
  margin: 10px auto;
}
.calendaMain .wrapper .year {
  position: relative;
  width: 70%;
  min-height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 5px 10px rgb(0 0 0 / 33%);
  /* background:rgba(220, 223, 226, 0.486); */
}
.calendaMain .wrapper .year .yearcnt {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: right;
  align-items: center;
}
.calendaMain .wrapper .year .yearcnt i {
  margin-inline: 10px;
  transition: all 0.2s ease;
}
.calendaMain .wrapper .year .yearcnt i:hover {
  color: crimson;
  background: teal;
}
.calendaMain .wrapper .year ul {
  display: flex;
  width: 100%;
}
.calendaMain .wrapper .year ul li {
  list-style: none;
  padding: 10px;
  width: calc(100% / 7);
  cursor: pointer;
}
.calendaMain .wrapper .year ul li:hover {
  background-color: teal;
}
.calendaMain .wrapper .months ul li:hover {
  background-color: teal;
}
.calendaMain .wrapper .year .day {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.calendaMain .wrapper .year .day p {
  width: calc(100% / 7);
  text-align: center;
  display: grid;
  place-items: center;
  margin-block: 10px;
  min-height: 40px;
  cursor: pointer;
}
.calendaMain .wrapper .year .day p.active {
  background: teal;
}
.calendaMain .wrapper .year .day p.CalenderEvent {
  background: crimson;
}
.calendaMain .wrapper .year .day p.active .indicator {
  width: 5px;
  min-height: 5px;
  border-radius: 50%;
  background: gold;
}
.calendaMain .wrapper .year .day p:hover {
  background-color: rgba(221, 221, 221, 0.24);
}
.calendaMain .wrapper .events {
  width: 30%;
  min-height: 100%;
  background: rgb(23, 31, 41);
  position: relative;
}
.calendaMain .wrapper .events .eventsDetails {
  width: 97%;
  margin: 0 auto;
}
.calendaMain .wrapper .events .eventsDetails .image {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}
.calendaMain .wrapper .events .eventsDetails .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.calendaMain .wrapper .events .eventsDetails p {
  font-weight: 300px;
}
.calendaMain .wrapper .events .eventsDetails .error {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.calendaMain .wrapper .events .eventsDetails .error img {
  width: auto;
}
.calendaMain .wrapper .events .loader {
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 100%;
  background: rgb(34, 33, 33);
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}
.calendaMain .wrapper .events .loader {
  display: none;
}
.calendaMain .wrapper .events .loader.active {
  display: flex;
}
.calendaMain .wrapper .events .loader.active .loaderanimate {
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  animation: loader 5s infinite ease;
  transition: all 0.3s ease;
  border: 5px solid #fff;
  border-right: 5px solid transparent;
  overflow: hidden;
}
.calendaMain .wrapper .events .loader.active .loaderanimate img {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}
.mark {
  background-color: red !important;
}
.display_active {
  background-color: crimson;
  border-radius: 10px;
}

.slider_custome {
  width: calc(100% - 100px);
  margin: 15px auto;
  overflow: hidden;
  display: grid;
  place-items: center;
}
video.main {
  width: 100%;
  max-width: 700px;
  object-fit: cover;
  margin: 0px auto;
  border-radius: 7px;
}
.slider_custome ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.slider_custome ul li {
  margin-right: 20px;
}
.slider_custome ul li .item {
  width: 220px;
  height: 230px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.slider_custome ul li .item .text {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  background: linear-gradient(255deg, #00102ae6, #0505069e);
}
.slider_custome ul li .item .text h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.slider_custome ul li .item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.send_up.active {
  display: grid;
  place-items: center;
}

.send_up,
.user_icon {
  position: fixed;
  right: 0;
  bottom: 8%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  background-color: crimson;
  color: #fff;
  display: none;
  z-index: 9;
}
.user_icon {
  bottom: 20%;
  display: grid;
  place-items: center;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    border: 5px solid #fff;
  }
  50% {
    transform: rotate(180deg);
    border: 5px solid red;
  }
  100% {
    transform: rotate(360deg);
    border: 5px solid rgb(0, 60, 255);
  }
}

.fa-facebook {
  background-color: #fff;
  color: rgb(0, 89, 255) !important;
  -webkit-background-clip: text;
}
.fa-youtube {
  color: rgb(252, 13, 5) !important;
}
.fa-twitter {
  color: rgb(0, 183, 255) !important;
}
.fa-instagram {
  overflow: hidden;
  background: linear-gradient(
    225deg,
    crimson,
    rgb(241, 4, 170),
    rgb(0, 102, 255)
  ) !important;
  -webkit-background-clip: text;
}
a {
  color: #fff;
  text-decoration: none;
}

footer {
  overflow: hidden;
  width: 100%;
  position: relative;
}
footer img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 80px;
}
footer .container {
  width: 100%;
  min-height: 200px;
  height: auto !important;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  background: #000;
  color: #fff;
  padding: 10px 20px;
}

footer .container .brand header {
  font-size: 23px;
}
footer .container .brand ul,
footer .container .links ul {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
}
footer .container .field ul {
  width: 100%;
  margin-top: 10px;
  list-style: none;
  display: block;
}
footer .container .brand ul li {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 2px solid #fff;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
footer .container .field ul li {
  margin-block: 10px;
}
footer .container .field ul li span {
  border-bottom: 2px solid #fff;
  text-decoration: underline;
}
footer .container .links ul li {
  margin-inline: auto;
  margin-block: 5px;
}
footer .container .links ul {
  margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
  .web_content .overlay .content .motto p {
    word-spacing: 1px;
  }
  .web_content {
    width: 100%;
    margin: 0px auto;
  }
  .web_content .overlay .content .text h1 {
    font-size: 50px;
  }
  .web_content .overlay .content .text p {
    font-size: 30px;
  }
  .navigation .nav_ele .item_list .Ministries_list {
    left: 0;
    right: 0;
  }
  .nav_logo {
    position: fixed;
    top: 0;
    right: 0;
    width: 90px;
    height: 40px;
  }
  .menu_toggle {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    padding: 10px;
    margin-right: 20px;
    z-index: 999;
  }
  .menu_toggle svg:nth-child(1) {
    display: block;
  }
  .menu_toggle svg:nth-child(2) {
    display: none;
  }
  .menu_toggle.active svg:nth-child(2) {
    display: block;
  }
  .menu_toggle.active svg:nth-child(1) {
    display: none;
  }
  img {
    object-fit: cover;
  }
  .navigation {
    position: fixed !important;
    top: -30px;
    left: 0;
    display: block;
    z-index: 99;
    max-width: 300px;
  }
  .navigation.active {
    top: 0;
    height: 100%;
    background: #000000bf;
  }
  .navigation.active .nav_ele {
    display: flex;
  }

  .navigation .nav_ele {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }
  img.cloud_1 {
    width: 500px;
    top: 27%;
  }
  img.cloud_2 {
    width: 500px;
    top: 27%;
  }
  img.moon {
    width: 350px;
    top: 24%;
    left: calc((100% - 350px) / 2);
  }
  .container h1.main {
    font-size: 70px;
    bottom: 18%;
  }

  img.mountain {
    height: 280px;
  }
  img.tree {
    height: 180px;
  }
}
@media screen and (max-width: 1024px) {
  .slider_custome ul {
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .slider_custome {
    width: 95%;
    margin: 0px auto;
  }
  .slider_custome .video.main {
    width: 100%;
    height: 300px;
  }
  footer .container .brand {
    display: grid;
    place-items: center;
  }
  footer .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  footer .container .contact,
  footer .container .link,
  footer .container .brand {
    width: 100%;
    grid-column: 1/3;
    text-align: center;
  }
  footer .container {
    padding: 5px 5px;
  }
}

@media screen and (max-width: 768px) {
  .footer_content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  .calendaMain {
    width: 95%;
    min-height: 700px;
  }

  .workshop {
    flex-direction: column;
    gap: 20px;
  }

  .event_section {
    width: calc(100% - 10px);
    margin: 30px auto;
    padding: 5px 10px;
    position: relative;
    transition: all 0.3s ease;
  }

  .event_section .gallery_layout {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    gap: 10px;
  }
  .event_section .gallery_layout .img.xxl {
    grid-column: auto;
    grid-row: auto;
  }
}
@media screen and (max-width: 681px) {
  .section__container {
    margin-left: 2%;
    padding: 0em;
  }
}
@media screen and (max-width: 650px) {
  .web_content .overlay .content .motto p {
    font-size: 17px;
  }
  .web_content .overlay .content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .data_reminder {
    margin-left: 5px;
  }
  .data_reminder p {
    font-size: 20px;
  }
  .upcoming_header h1 {
    font-size: 20px;
  }
  .web_content .overlay .content .text h1 {
    font-size: 35px;
  }
  .web_content .overlay .content .text p {
    font-size: 25px;
  }

  .calendaMain .wrapper {
    display: block;
    min-height: 100%;
    border: 1px solid transparent;
  }
  .calendaMain .wrapper .year {
    min-height: auto;
  }
  .calendaMain .wrapper .year {
    width: 100%;
  }
  .calendaMain .wrapper .events {
    width: 100%;
    background: transparent;
  }
}
@media screen and (max-width: 600px) {
  .navigation {
    position: absolute;
    top: 0;
    display: block;
    z-index: 99;
    max-width: 300px;
  }
  .navigation .nav_ele {
    flex-direction: column;
    align-items: flex-start;
  }
  img.cloud_1 {
    width: 380px;
  }
  img.cloud_2 {
    width: 380px;
  }
  img.moon {
    width: 280px;
    left: calc((100% - 280px) / 2);
  }
  .container h1.main {
    font-size: 50px;
    bottom: 18%;
  }
  .full_page_down {
    grid-template-columns: 1fr 1fr;
  }
  .christmas_txt {
    grid-column: 1 /3;
  }
  .events h1 {
    padding: 0px;
  }

  .full_page_down img {
    border-radius: 5px;
    min-height: 200px;
  }
  .full_page_down {
    gap: 4px;
  }
  .workshop .info {
    margin: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 530px) {
  .section__container .card {
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 425px) {
  .social {
    height: 60px;
  }
  .social ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  .section__container .card {
    width: 200px;
    height: 200px;
  }
  .service_display,
  .workshop {
    gap: 10px;
  }
  .calendaMain .wrapper .year .yearcnt {
    margin-top: 40px;
  }

  .web_content .overlay .content .motto p {
    font-size: 16px;
    word-spacing: 1px;
  }
  .service_display .info {
    width: 90%;
    margin: 0px auto;
  }
  .christmas_txt {
    grid-column: 1 /2;
  }
  .full_page_down {
    grid-template-columns: 1fr;
  }
  .event_section .gallery_layout .img.col2 {
    grid-column: auto;
  }
  .event_section .gallery_layout .img.col2.main {
    grid-row: auto;
  }
  .event_section .gallery_layout {
    grid-template-columns: 1fr;
    height: auto;
    gap: 10px;
  }
  .event_section .gallery_layout .img {
    grid-column: auto;
    grid-row: auto;
  }
  .grid_complex {
    height: 350px;
  }
}
@media screen and (max-width: 300px) {
  .slider_custome {
    width: 100%;
  }

  .slider_custome ul li {
    margin-block: 10px;
  }
  .slider_custome ul li .item {
    max-width: 290px;
    width: 98%;
  }
  footer .container .brand header {
    font-size: 20px;
  }
  .navigation .nav_ele .item_list .Ministries_list {
    width: auto;
  }
  .web_content .overlay .content .motto p {
    font-size: 13px;
    word-spacing: 1px;
  }
  .web_content .overlay .content .text h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 200px) {
  .service_display .text .inner button {
    max-width: 130px;
    width: 100%;
  }
  .service_display .head {
    padding: 0px;
    font-size: 16px;
  }
  .web_content .overlay .content .text p {
    font-size: 13px;
  }
  h1 {
    font-size: 16px !important;
  }
}
